:root {
    --backColor1: #98cb00;
    --backColor2: #cc6733;
    --backColor3: #3398cc;
  }
  body {
    margin: 10px;
    padding: 10px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
        }

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--backColor3);
    color: white;
    font-size: 25px;
    margin: 10px;
}

header p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

h1 {
    padding: 20px;
    font-size: 30px;
    color: var(--backColor3);
    }

#highscoreView, #timerView{
    margin: 10px;
    padding: 10px;
} 
#timerView{ 
    text-align: center;
}

#highscoreView a{
    text-decoration: none;
    text-align: left;
    color: white;
    margin: 0px;
    padding: 0pc;
    display: block;
}

#highscoreView a:hover{
    color: var(--backColor1);
}

#startInfo, #allDone  {
    display: block;
    margin: 10px;
    padding: 10px;
}

#allDone p {
    font-size: 20px;
    color: var(--backColor2);
    font-weight: bold;
}

#questionShow, #answerButtons, #correctOrWrong, #fillScore{
    margin: 10px;
    padding: 10px;
}
#questionShow, #answerButtons{
    text-align: left;
    font-weight: bold;
}
.amswButtons {
    background-color: var(--backColor3);
    padding: 5px; 
    margin: 5px; 
    display: block;
    color: wheat;
    border-radius: 3px;
    border-style: none ;
}

.amswButtons:hover {
    /* cursor: grab; */
    background-color: #55baff;
}

input {
    display: inline;
    width: auto;
    padding: 5px;
    margin: 5px;
    background-color: var(--backColor2);
    border-radius: 15px;
    color: white;
}

input:hover {
    background-color: #aa4511;
    /* cursor: grab; */
}
#initials {
    background-color: white;
    color: black;
    border-radius: 0px;
}
#initials:hover{
    background-color: white;
    cursor: text;
}

@media screen and (max-width: 768px) {
    section {
        width: 100%;
    }

    header {
        font-size: 18px;
    }
}